HTML CSS JSResult
@CHARSET "ISO-8859-1";

/* Colors
 * From http://paletton.com/#uid=40-0u0khinx7tAccisxlAjtqQe8
 * --------------------------------------- */
:root {
  --color-primary-0: #BB8956;	/* Main Primary color */
  --color-primary-1: #FFE2C4;
  --color-primary-2: #E3B88C;
  --color-primary-3: #9B6732;
  --color-primary-4: #714212;

  --color-secondary-1-0: #434F80;	/* Main Secondary color (1) */
  --color-secondary-1-1: #949CBB;
  --color-secondary-1-2: #66719B;
  --color-secondary-1-3: #2B3769;
  --color-secondary-1-4: #141F4D;

  --color-secondary-2-0: #408B56;	/* Main Secondary color (2) */
  --color-secondary-2-1: #99C7A7;
  --color-secondary-2-2: #68A87B;
  --color-secondary-2-3: #25733D;
  --color-secondary-2-4: #0D5323;

  --color-complement-0: #386775;	/* Main Complement color */
  --color-complement-1: #87A6AE;
  --color-complement-2: #59828D;
  --color-complement-3: #225360;
  --color-complement-4: #0D3A46;
}

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
*{
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}


/* Custom
 * --------------------------------------- */
body {
    font-family: arial, helvetica;
}
.section{
    position: relative;
    text-align: center;
}
#section-1 h2{
    color: #fff;
    font-size: 10em;
    font-weight: 900;
}
#section-1 h1{
    font-size: 2em;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    margin: 1.5em auto 1em auto;
    color: #35495e;
    padding-right: 30px;
    padding-left: 30px;
}
#section-1 li {
    display: inline-block;
    margin: 1.25em 0.3em;
}
.section-1-button{
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    display: block;
    color: #fff;
}
h3{
    font-size: 5em;
    text-align: center;
    color: #fff;
    /* font-weight: bold; */
    font-family: 'Sacramento', cursive;
}
#logo{
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
    font-weight: bold;
    z-index: 99;
    font-size: 1.9em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

/**/

div.section div.fullv {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.section div.fullv div.split {
    float: left;
	text-align: left;
	padding: 0 10% 5%;
	flex-grow: 1;
	display: grid;
}

div.section:nth-of-type(odd) div.fullv div.split { grid-template-columns: 40% auto; }
div.section:nth-of-type(even) div.fullv div.split { grid-template-columns: auto 40%; }
div.section:nth-of-type(even) div.fullv div.split :nth-child(1) { grid-column: 2 / span 1; }
div.section:nth-of-type(even) div.fullv div.split :nth-child(2) { grid-area: 1 / 1 / 2 / 2; }

div.bg-img { background-repeat: no-repeat; background-size: cover; background-position: center; }
div.violin { background-image: url(img/johanna-vogt-H7kVzJgum3M-unsplash.jpg); /* Photo by Johanna Vogt on Unsplash */ }

iframe.event-cal { border-width:0; width:100%; height:100%; }

Resources1×0.5×0.25×Rerun